.dropdown {
  position: relative;
  cursor: pointer;
  .title {
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid var(--color--black);
    box-sizing: border-box;
    border-radius: 5px;
    height: 45px;
    width: 100%;
    font-family: var(--font-releway);
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    padding: 0 46px;
    letter-spacing: 0.02em;
    outline: none;
    overflow: hidden;
    color: #7b7a7a;
    > p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    img:first-child {
      position: absolute;
      top: auto;
      bottom: auto;
      left: 15px;
      filter: invert(100%);
    }
    img:last-child {
      position: absolute;
      top: auto;
      bottom: auto;
      right: 20px;
      transition: 0.3s;
      transform: rotate(180deg);
    }
  }

  .items {
    list-style: none;
    padding: 0;
    border: 1px solid var(--color--orange);
    border-radius: 5px;
    display: none;
    width: 100%;
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    margin: 0;
    z-index: 10;
    background: white;
    flex-direction: column;
    li a {
      height: 40px;
      font-family: var(--font-releway);
      outline: none;
      font-style: normal;
      font-weight: normal;
      text-decoration: none;
      font-size: 14px;
      line-height: 16px;
      cursor: pointer;
      color: var(--color--orange);
      transition: 0.3s;
      display: flex;
      align-items: center;
      padding: 0 20px 0 45px;
      &.active,
      &:hover {
        background: var(--color--orange);
        transition: 0.3s;
        color: white;
      }
    }
  }

  &:hover {
    .title {
      color: var(--color--orange);
      border-color: var(--color--orange);
      transition: 0.3s;
      box-shadow: 0 -2px 70px rgba(18, 15, 14, 0.08), 0px -0.83px 49.56px rgba(19, 16, 14, 0.05);
    }
    .title img {
      filter: invert(40%) sepia(81%) saturate(1369%) hue-rotate(348deg) brightness(102%) contrast(101%);
      &:first-child {
        filter: invert(38%) sepia(81%) saturate(1369%) hue-rotate(322deg) brightness(102%) contrast(101%);
      }
    }
  }
  &.show {
    .title {
      color: var(--color--orange);
      border-color: var(--color--orange);
      transition: 0.3s;
      box-shadow: 0 -2px 70px rgba(18, 15, 14, 0.08), 0px -0.83px 49.56px rgba(19, 16, 14, 0.05);
    }
    .title img {
      filter: invert(40%) sepia(81%) saturate(1369%) hue-rotate(348deg) brightness(102%) contrast(101%);
      &:first-child {
        filter: invert(38%) sepia(81%) saturate(1369%) hue-rotate(322deg) brightness(102%) contrast(101%);
      }
      &:last-child {
        transform: rotate(0deg);
      }
    }
    .items {
      display: flex;
    }
  }
}

@media (max-width: 919px) {
  .dropdown {
    .title {
      height: 32px;
    }
    .items li a {
      height: 32px;
    }
  }
}
