.line {
  display: grid;
  width: 100%;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, 255px);
  justify-content: space-between;
  margin-bottom: 85px;
  overflow: visible;
  padding: 0 7px;
}

.text {
  width: 100%;
  margin-top: 0;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: var(--color--orange);
  font-family: var(--font-releway);
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  img {
    margin-right: 10px;
  }
}

@media (max-width: 919px) {
  .line {
    grid-gap: 15px; justify-content: space-around;
    margin-bottom: 40px; padding: 0;
  }
  .text {
    margin-bottom: 20px;
    font-size: 18px;
  }
}
