.box{
  width: 100%; max-width: 1200px; margin: 0 auto;
  background: var(--color--white); box-sizing: border-box;
  box-shadow: 0px -2px 348px rgba(0, 0, 0, 0.04), 0px -0.837102px 77.7304px rgba(0, 0, 0, 0.0267973),
  0px -0.358753px 23.1424px rgba(0, 0, 0, 0.0212988);
  border-radius: 5px; border-top: 45px solid var(--color--yellow);
  padding:  30px 82px 75px 82px;
  display: flex; flex-direction: column; align-items: center;

  .photo{
    display: flex; flex-direction: column; align-items: center;
    margin-right: 38px; margin-bottom: 30px;
    >div:first-child{
      border: 1px solid var(--color--black); box-sizing: border-box; margin-bottom: 15px;
      border-radius: 100%; overflow: hidden; padding: 6px; display: flex; align-items: center;
      justify-content: center;
      img{
        height: 152px; width: auto; border-radius: 152px;
      }
    }
    p{
      font-family: var(--font-releway);
      font-style: normal; font-weight: normal;
      font-size: 20px; line-height: 23px;
      letter-spacing: 0.02em;
      color: var(--color--black);
    }
  }

  .line{
    display: flex; justify-content: space-between; flex-wrap: wrap;
    width: 100%; margin-bottom: 20px;
    >div{
      display: flex; width: 100%; max-width: 230px;
    }
    >div:first-child strong{
      width: 100%; max-width: 100px;
    }
  }

  .line > div strong, .description strong{
    width: 151px;
    font-family: var(--font-releway);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: var(--color--black);
  }
  .line > div p, .description p{
    font-family: var(--font-releway);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--color--black);
  }


  .description{
    margin: 20px 0 0 0;
    display: flex; width: 100%;
    strong{
      min-width: 100px; margin-right: 20px;
    }
    p{
      max-width: 544px;
    }
  }

  .group{
    display: flex; justify-content: space-between; gap: 10px;
    width: 100%;
    .info{
      max-width: 498px;
    }
    .photoGroup{
      position: relative; max-width: 447px; max-height: 463px; display: flex;
      justify-content: center; overflow: hidden; height: 100%; width: 100%;
      .close{
        position: absolute; top: 22px; right: 22px;
        cursor: pointer;
        filter: invert(100%);
      }
      >img{
        width: fit-content;
        height: fit-content;
      }
    }
  }

  .steps{
    display: flex; flex-direction: column; width: 100%;
    .text{
      display: flex; justify-content: space-between;
      width: 100%; gap: 10px; margin-top: 20px;
      p{
        font-family: var(--font-releway);
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.02em;
        width: 100%;
        color: var(--color--black);

      }
    }
  }

  .btnGroup{
    display: flex; justify-content: space-between;
    flex-wrap: wrap; width: 100%; max-width: 733px;
    button{
      width: 100%; max-width: 330px;
    }
  }

  &.green{
    border-color: var(--color--green);
  }
  &.yellow{
    border-color: var(--color--yellow);
  }
  &.red{
    border-color: var(--color--red);
  }
}

@media (max-width: 1119px) {
  .box{
    padding: 20px 30px;
  }
}
@media (max-width: 919px) {
  .box{
    padding: 20px 25px; border-top-width: 20px;
    .group{
      flex-wrap: wrap; justify-content: space-around; gap: 20px; margin-bottom: 40px;
      .photoGroup{
        max-width: 240px; height: 250px;
        img:first-child{
          width: auto; height: 263px;
        }
      }
    }
    .line{
      gap: 20px;
    }
    .line > div, .line > div:first-child{
      max-width: 100%;
      strong{
        width: 100%; max-width: 120px;
      }
    }
    .info{
      display: none;
    }
    .btnGroup{
      gap: 10px; justify-content: center; max-width: 240px;
      flex-direction: column-reverse;
    }
  }
}
