.box{
  position: fixed; z-index: 100; top: 0; left: 0;
  width: 100vw; height: 100%; background: rgba(44, 44, 44, 0.7);
  display: flex; align-items: center; justify-content: center;

  .element{
    width: 100%; max-width: 1048px; padding: 80px 157px; border-radius: 5px;
    position: relative; box-sizing: border-box; background: var(--color--white);
    display: flex; flex-direction: column;
    .close{
      position: absolute; top: 22px; right: 21px;
      cursor: pointer; transition: .3s;
      &:hover{
        box-shadow: 0 0 24px 0 rgb(44 44 44 / 30%); transition: .3s;
      }
    }
    .smallTitle{
      font-family: var(--font-releway);
      font-style: normal; font-weight: 300;
      font-size: 24px; line-height: 28px;
      text-align: center; letter-spacing: 0.02em;
      color: var(--color--black-dark);
    }

    >h3{
      font-family: var(--font-releway);
      font-style: normal; font-weight: 500;
      font-size: 30px; line-height: 35px;
      letter-spacing: 0.02em; text-align: center;
      color: var(--color--black); margin: 90px 0 45px 0;
    }

    .text{
      font-family: var(--font-roboto);
      font-style: normal; font-weight: 300;
      font-size: 25px; line-height: 29px;
      text-align: center; letter-spacing: 0.02em;
      color: var(--color--black-dark);
    }

    .btnGroup{
      display: flex; justify-content: space-between;
      flex-wrap: wrap;  margin-top: 90px;
      >button{
        max-width: 330px; margin-bottom: 15px;
      }
    }
  }
}


@media (max-width: 1119px) {
  .box{
    .element{
      box-sizing: border-box; max-width: 90vw;
      max-height: 80vh; overflow-y: auto;
      padding: 25px 30px;
      .close{
        top: 13px; right: 15px;
      }

      h3{
        font-size: 29px; margin: 35px 0 45px 0;
      }
      .smallTitle{
        font-size: 20px;
      }
      .text{
        font-size: 19px;
      }
      .btnGroup{
        margin-top: 25px; align-items: center;
        justify-content: center; gap: 10px;
        button{
          margin: 0;
        }
      }
    }
  }
}
