.box{
  position: fixed; z-index: 100; top: 0; left: 0;
  width: 100vw; height: 100%; background: rgba(44, 44, 44, 0.7);
  display: flex; align-items: center; justify-content: center;

  .element{
    width: 100%; max-width: 843px; padding: 45px 50px; border-radius: 5px;
    position: relative; box-sizing: border-box; background: var(--color--white);
    display: flex; flex-direction: column;
    .close{
      position: absolute; top: 22px; right: 21px;
      cursor: pointer; transition: .3s;
      &:hover{
        box-shadow: 0 0 24px 0 rgb(44 44 44 / 30%); transition: .3s;
      }
    }

    >h3{
      font-family: var(--font-releway);
      font-style: normal;
      font-weight: 600; font-size: 25px;
      line-height: 29px;
      letter-spacing: 0.02em; text-align: left;
      color: var(--color--black); margin-bottom: 35px;
    }

    .comments{
      display: flex; flex-direction: column; overflow-y: auto;
      overflow-x: hidden; max-height: 435px;

      &::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
        background-color: var(--color--black);
        border: 1px solid var(--color--white);
      }
      &::-webkit-scrollbar-thumb{
        background-color: var(--color--black); border-radius: 3px;
      }
      &::-webkit-scrollbar{ width: 3px; }

      .line{
        display: flex; flex-direction: row; align-items: flex-start;
        margin-bottom: 40px;
        .photo{
          display: flex; flex-direction: column; align-items: center;
          width: 100%; max-width: 115px;
          >div:first-child{
            border: 1px solid var(--color--black); box-sizing: border-box; margin-bottom: 10px;
            border-radius: 100%; overflow: hidden; padding: 3px; display: flex; align-items: center;
            justify-content: center;
            img{
              height: 75px; width: auto; border-radius: 75px;
            }
          }
          p{
            font-family: var(--font-releway);
            font-style: normal; font-weight: 500;
            font-size: 18px; line-height: 21px;
            text-align: center; letter-spacing: 0.02em;
            color: var(--color--black); white-space: nowrap;
          }
        }

        .time{
          font-family: var(--font-releway);
          font-style: normal; font-weight: normal;
          font-size: 16px; line-height: 20px;
          text-align: center; letter-spacing: 0.02em;
          color: var(--color--black);  width: 100%; max-width: 85px;
          margin: 35px 60px 0 54px;
        }

        .text{
          width: 100%; display: flex; flex-direction: column; align-items: baseline;
          >ul:first-child img{
            height: 18px;
          }
          >p{
            font-family: var(--font-releway);
            font-style: normal; font-weight: normal;
            font-size: 16px; line-height: 135%;
            letter-spacing: 0.02em; max-width: 385px;
            color: var(--color--black);
            margin-top: 10px;
          }
        }

      }
    }
  }
}
@media (max-width: 1119px) {
  .box{
    .element{
      box-sizing: border-box; max-width: 90vw;
      max-height: 80vh; overflow-y: auto;
      padding: 25px 30px;
      .close{
        top: 13px; right: 15px;
      }

      h3{
        font-size: 29px;
      }
      .comments .line{
        align-items: center; justify-content: space-between; gap: 10px;
        padding-right: 20px;
        .time{
          margin: 0;
        }
      }
      .line{
        flex-wrap: wrap;
        .text{
          max-width: 385px; width: fit-content;
          margin-top: 10px;
        }
      }
    }
  }
}
@media (max-width: 719px) {
  .box{
    .element{
      h3{
        font-size: 18px;
      }
      .comments{
        .line  {
          .time, .text p{
            font-size: 14px;
          }
        }
      }
    }
  }
}
