:root {
  --font-releway: 'Raleway', sans-serif;
  --font-roboto: 'Roboto', sans-serif;

  //colors
  --color--black: #2C2C2C;
  --color--grey: #C4C4C4;
  --color--white: #FFFFFF;
  --color--orange: #FF611B;
  --color--green: #439f23;
  --color--black-disable: #C8C2C2;
  --color--black-dark: #000000;
  --color--yellow: rgba(255, 199, 0, 0.9);
  --color--red: rgba(223, 36, 36, 0.7);
  --color--blue: rgba(43, 114, 222, 0.9);
  --color--orange-light:  rgba(255, 86, 10, 0.1);
}
