.orange{
  width: 100%; position: relative; border-radius: 40px; overflow: hidden;
  box-shadow: 0px -2px 70px rgba(18, 15, 14, 0.08), 0px -0.83px 49.5699px rgba(19, 16, 14, 0.05);
  display: flex; align-items: center;
  img{
    position: absolute; top: 14px; left: 28px;
    filter: brightness(4000%); cursor: pointer;
  }

  input, input::placeholder{
    width: 100%; font-family: var(--font-releway); font-style: normal;
    font-weight: 500; font-size: 22px; line-height: 26px;  border: none;
    color: var(--color--white); padding: 0 20px 0 85px; min-height: 65px;
    background: none; outline: none; box-sizing: border-box;
  }
  input::placeholder{
    padding: 0; line-height: 65px; opacity: 1;
  }
  input{
    background: var(--color--orange);
  }

  input:active, input:focus, input:hover{
    background: var(--color--white); transition: .3s;
    color: var(--color--orange);
    &::placeholder{
      color: var(--color--orange);
    }
    & ~ img{
      filter: invert(47%) sepia(43%) saturate(3715%) hue-rotate(348deg) brightness(100%) contrast(102%);
    }
  }

}

.white{
  background: var(--color--white); width: 100%; position: relative; border-radius: 40px; overflow: hidden;
  box-shadow: 0px -2px 70px rgba(18, 15, 14, 0.08), 0px -0.83px 49.5699px rgba(19, 16, 14, 0.05);
  display: flex; align-items: center;
  img{
    position: absolute; top: 14px; left: 28px;
    cursor: pointer;
    filter: invert(47%) sepia(43%) saturate(3715%) hue-rotate(348deg) brightness(100%) contrast(102%);
  }

  input, input::placeholder{
    width: 100%; font-family: var(--font-releway); font-style: normal;
    font-weight: 500; font-size: 22px; line-height: 26px;  border: none;
    color: var(--color--orange); padding: 0 20px 0 85px; min-height: 65px;
    background: none; outline: none; box-sizing: border-box; transition: .3s;
  }
  input::placeholder{
    padding: 0; line-height: 65px; opacity: 1;
  }
  input:active, input:focus, input:hover{
    background: var(--color--orange); transition: .3s;
    color: var(--color--white);
    &::placeholder{
      color: var(--color--white);
    }
    & ~ img{
      filter: none;
    }
  }

  &:hover{
    input{
      background: var(--color--orange); transition: .3s;
      color: var(--color--white);
      &::placeholder{
        color: var(--color--white);
      }
      & ~ img{
        filter: none;
      }
    }
  }
}

@media (max-width: 919px) {
  .orange, .white{
    input{
      font-size: 14px;  padding-left: 50px; min-height: 37px;
      &::placeholder{
       font-size: 14px; line-height: 37px;
      }
    }
    img{
      top: 7px; left: 19px;
      height: 25px; width: 25px;
    }
  }
}
