.box{
  .smallTitle{
    font-family: var(--font-roboto);
    font-style: normal; font-weight: 500;
    font-size: 23px; line-height: 32px; margin-bottom: 25px;
    letter-spacing: 0.02em; color: var(--color--black);
    max-width: 634px;
  }

  >p{
    font-family: var(--font-roboto);
    font-style: normal;
    font-weight: 300; font-size: 18px;
    line-height: 21px; margin-bottom: 75px;
    letter-spacing: 0.02em;
    color: var(--color--black);
    max-width: 634px;
  }

  button{
    max-width: 330px;
  }
}

@media (max-width: 919px) {
  .box >p{
    margin-bottom: 35px;
  }
}
