.box{
  display: flex; justify-content: space-between; flex-wrap: wrap;
  margin-bottom: 55px;
  h3{
    font-family: var(--font-releway); font-style: normal;
    font-weight: 600; font-size: 40px; line-height: 160%;
    width: 100%; text-align: center;
    letter-spacing: 0.02em; color: var(--color--black);
    margin-bottom: 54px; margin-top: 91px;
  }

  ul{
    list-style: none; padding-left: 99px;
    li{
      display: flex; align-items: center; margin-bottom: 100px;
      position: relative; transition: .3s; cursor: pointer;
      .img{
        background: var(--color--orange); width: 40px; height: 40px;
        border-radius: 40px; margin-right: 26px; display: flex; align-items: center;
        justify-content: center; transition: .3s;
      }
      p{
        font-family: var(--font-releway); font-style: normal; font-weight: normal;
        font-size: 22px; line-height: 28px; position: relative;
        letter-spacing: 0.02em; color: var(--color--black);
        &:before{
          content: ''; position: absolute; bottom: -3px; width: 0; left: 50%;
          height: 1px; background: var(--color--orange);
        }
      }
      &:before{
        content: ''; position: absolute; top: 40px; left: 19px; height: 100px; width: 2px;
        background: var(--color--orange); z-index: -1;
      }
      &:last-child:before{
        content: none;
      }

      &:hover{
        .img{
          box-shadow: 0 0 0 10px var(--color--orange-light);
          transition: .3s;
        }
        p:before{
          transition: .3s; width: 100%; left: 0;
        }
      }
    }
  }

  >img{
    width: auto; height: fit-content;

  }
}

@media(max-width: 1119px) {
  .box{
    justify-content: center;  margin-bottom: 0;
    ul{
      padding-left: 0;
    }
    >img{
      display: none;
    }
  }
}
@media(max-width: 919px) {
  .box{
    h3{
      font-size: 20px; margin-top: 20px;
      margin-bottom: 30px;
    }
    ul li {
      margin-bottom: 60px;
      .img{
        height: 24px; width: 24px; margin-right: 16px;
        img{
          height: 13px;  width: auto;
        }
      }
      p{
        font-size: 14px;
      }
      &:before{
        top: 22px;
        left: 12px;
        height: 80px;
      }
    }
  }
}
