.box{
  background: var(--color--white);
  box-shadow: 0px -2px 348px rgba(0, 0, 0, 0.04), 0px -0.837102px 77.7304px rgba(0, 0, 0, 0.0267973),
  0px -0.358753px 23.1424px rgba(0, 0, 0, 0.0212988);
  border-radius: 5px; padding: 32px 73px 20px 73px; width: 100%; box-sizing: border-box;
  max-width: 544px; display: flex; flex-direction: column; align-items: center;
  .element{
    display: flex; flex-direction: column; align-items: center;

  }
  .photo{
    position: relative; min-width: 215px; z-index: 0;
    min-height: 215px; width: 215px; height: 215px;
    display: flex; align-items: center; justify-content: center;
    margin-bottom: 17px;
    img{
      position: absolute; top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      height: 199px; width: 199px; overflow: hidden; border-radius: 199px;
    }
    &:before{
      content: url("/static/img/svg/circle.svg"); position: absolute;
      top: -22px; left: -32px;
    }
  }
  h3{
    font-family: var(--font-releway);
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.02em;
    color: var(--color--black);
    margin-bottom: 15px;
    z-index: 1;
  }
  .small{
    display: flex; flex-direction: column; align-items: center;
    margin-bottom: 20px;
    p{
      font-family: var(--font-releway);
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.02em;
      color: var(--color--black);
      margin-bottom: 10px;
    }
    hr{
      width: 100%; max-width: 115px; border-top: 1px solid var(--color--orange);
      margin: 10px 0 0 0;
    }
  }
  .price{
    font-family: var(--font-releway);
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color--black);
    margin-bottom: 30px;
  }
  .text{
    font-family: var(--font-releway);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color--black);
    margin-bottom: 50px;
  }
  button{
    width: 100%;  max-width: 350px; margin-bottom: 25px;
  }
  .rating{
    display: flex; align-items: center; margin-bottom: 5px;
    ul li img{
      height: 30px;
    }
    >span{
      margin-left: 10px;
      font-family: var(--font-releway);
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: var(--color--black);
    }
  }
  .last{
    font-family: var(--font-releway);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: var(--color--black);
  }
  .group{
    display: flex; flex-direction: column; align-items: center;
    width: 100%;
  }
}

@media (max-width: 919px) {
  .box{
    padding: 32px 18px 10px 18px;
    .element{
      display: grid;  grid-template-columns: 1fr 1fr;
      grid-template-areas:
              "photo  text1"
              "photo  text2";
      h3{
        font-size: 16px; margin-bottom: 10px;
        grid-area: text1; line-height: normal;
      }
      .small {
        grid-area: text2; align-items: flex-start;
        p{
          font-size: 12px; line-height: normal; margin-bottom: 0; text-align: left;
        }
      }
    }
    .photo{
      height: 86px; width: 86px; min-width: 86px; min-height: 86px;
      grid-area: photo;
      img{
        width: 80px; height: 80px;
      }
      &:before{
        content: ''; background-image: url("/static/img/svg/circle.svg");
        background-repeat: no-repeat; background-size: cover;
        height: 104px; width: 115px; top: -9px;
        left: -13px;
      }
    }
    .price{
      font-size: 19px; margin-bottom: 5px;
    }
    .text{
      font-size: 14px; margin-bottom: 30px;
    }
    .rating ul li img{
      height: 22px;
    }
    .group{
      flex-direction: column-reverse;
      button{
        margin-top: 20px; margin-bottom: 10px;
      }
    }
  }
}
