.box{
  box-sizing: border-box; width: 100%; max-width: 420px; background: var(--color--white);
  box-shadow: 0px -2px 90px rgba(0, 0, 0, 0.04), 0px -0.837102px 77.7304px rgba(0, 0, 0, 0.0267973),
  0px -0.358753px 23.1424px rgba(0, 0, 0, 0.0212988);
  border-radius: 5px; padding: 45px 60px;

  .inputs{
    margin-bottom: 35px; display: flex;
    flex-direction: column;
    > div{
      margin-bottom: 25px;
    }
    .inputLine{
      display: flex; position: relative; align-items: center; width: 100%;
      div:nth-child(2){
        position: absolute; height: 100%; display: flex; align-items: center;
        right: -30px;
      }
    }
  }
}

@media (max-width: 919px) {
  .box{
    padding: 30px 25px;
  }
}
