.page{
  h2{
    width: 100%; text-align: center; margin: 60px 0 90px 0;
    font-family: var(--font-releway); font-style: normal; font-weight: 600;
    font-size: 35px; line-height: 41px; color: var(--color--black);
  }

  .search{
    margin: 0 auto 65px auto; max-width: 900px;
  }
}

@media (max-width: 919px) {
  .page{
    h2{
      font-size: 18px; margin: 15px 0 20px 0;
    }
    .search{
      margin-bottom: 40px;
    }
  }
}
